<%= form_for @changeset, topic_path(@conn, :update, @topic), fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, placeholder: 'Hey, please type the title', class: 'form-control' %>
    <%= error_tag f, :title %>

    <%= submit "Submit" %>
  </div>
<% end %>
