<ul>
  <%= for topic <- @topics do %>
    <li>
      <a href=<%= topic_path(@conn, :new) %>>
        <%= topic.title %>
      </a>
      <%= link to: topic_path(@conn, :edit, topic.id) do %>
        Edit
      <% end %>

      <%= link to: topic_path(@conn, :delete, topic.id), method: :delete do %>
        Delete
      <% end %>
    </li>
  <% end %>
</ul>
